:root {
  scrollbar-color: rgba(0, 0, 0, 0.1) transparent;
  scrollbar-width: 5px;
}

html {
  font-size: 16px;
}

body * {
  scrollbar-color: rgba(0, 0, 0, 0.1) transparent;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.1);
  }
}

.icon {
  flex-shrink: 0;
}

.icon_base {
  width: 1rem;
  height: 1rem;
}

.icon_xs {
  width: 0.5rem;
  height: 0.5rem;
}

.icon_sm {
  width: 1rem;
  height: 1rem;
}

.icon_md {
  width: 1.25rem;
  height: 1.25rem;
}

.icon_lg {
  width: 1.5rem;
  height: 1.5rem;
}

.icon_xl {
  width: 1.75rem;
  height: 1.75rem;
}

.icon_rounded {
  border-radius: var(--rounded-full);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
}
