.theme_typo_default {
  --link-color: #4158d0;
  --surface-color: #f4effb;
  --surface-color-foreground: #ddd3eb;
  --code-type-color: #3d3b3f;
  --border-color: #c850c0;

  & * {
    width: 100%;
    word-break: break-all;

    &:only-child {
      margin-top: 0;
      margin-bottom: 0;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  & h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: clamp(14px, 1.76vw, 18px);
    font-weight: 700;
    line-height: 1.5;
  }

  & h1 {
    font-size: 18px;
  }

  & h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 16px;
  }

  & p {
    margin-top: clamp(14px, 1.76vw, 18px);
    font-size: 14px;
  }

  & b,
  strong {
    font-weight: 700;
    font-size: 14px;
  }

  & em {
    font-size: 14px;
  }

  & a {
    font-size: 14px;
    color: var(--link-color);
    text-decoration: underline;
    cursor: pointer;
  }

  & li {
    & p {
      display: inline;
      font-size: 14px;
    }
  }

  & ul {
    margin-top: clamp(14px, 1.56vw, 16px);
    list-style: disc inside;

    & li {
      margin-bottom: clamp(14px, 1.56vw, 16px);
      font-size: 14px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  & ol {
    margin-top: clamp(14px, 1.56vw, 16px);
    list-style: decimal inside;

    & li {
      margin-bottom: clamp(14px, 1.56vw, 16px);
      font-size: 14px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  & blockquote {
    position: relative;
    margin-top: clamp(14px, 1.56vw, 16px);
    margin-bottom: clamp(14px, 1.56vw, 16px);
    padding-left: 18px;
    font-size: 14px;
    font-style: italic;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 3px;
      height: 100%;
      background-color: var(--border-color);
    }
  }

  & pre {
    margin-top: clamp(14px, 1.56vw, 16px);
    margin-bottom: clamp(14px, 1.56vw, 16px);
    padding: 8px;
    font-size: 14px;
    color: var(--code-type-color);
    background-color: var(--surface-color);
    border-left: 3px solid var(--border-color);
    border-radius: 4px;
    white-space: break-spaces;

    &:only-child {
      margin-top: 0;
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    code {
      display: block;
      width: 100%;
    }
  }

  & code {
    margin-top: clamp(14px, 1.56vw, 16px);
    margin-bottom: clamp(14px, 1.56vw, 16px);
    padding: 4px 8px;
    font-size: 14px;
    color: var(--code-type-color);
    background-color: var(--surface-color);
    border-radius: 4px;
    white-space: break-spaces;
  }

  & hr {
    max-width: 25%;
    margin: clamp(20px, 2.34vw, 24px) auto;
    border-color: var(--border-color);
  }

  & img {
    display: block;
    margin-top: clamp(14px, 1.56vw, 16px);
    margin-bottom: clamp(14px, 1.56vw, 16px);
    max-width: 50%;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 0 1px 1px var(--border-color);
  }

  & s {
    code {
      text-decoration: line-through;
    }
  }

  & .contains-task-list {
    margin-top: clamp(14px, 1.56vw, 16px);
    margin-bottom: clamp(14px, 1.56vw, 16px);
    list-style: none;

    &:only-child {
      margin-top: 0;
      margin-bottom: 0;
    }

    .task-list-item {
      position: relative;
      margin-bottom: clamp(12px, 1.37vw, 14px);
      padding: 8px 8px 8px 32px;
      font-size: 14px;
      border-radius: 4px;
      background-color: var(--surface-color);

      & * {
        width: auto;
        display: inline-block;
        margin: 0;
      }

      code {
        height: 100%;
        margin: 0 6px;
        padding: 0px 4px;
        white-space: nowrap;
        background-color: var(--surface-color-foreground);
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .task-list-item-checkbox {
      position: absolute;
      top: 10px;
      left: 8px;
      flex-shrink: 0;
      display: inline-block;
      width: 16px;
      height: 16px;
      vertical-align: text-top;
    }
  }
}
